$theme-colors: (
  "primary": #1a232a,
  "secondary": #848484,
  "success": #309188,
  "danger": #c84343
);

$body-bg: #fff;
$font-family-base: "Source Sans Pro", sans-serif;

$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0.4rem;

$navbar-padding-x: 0rem;

$nav-tabs-border-color: #ccc;
// $nav-tabs-link-active-color: #fff;
// $nav-tabs-link-active-border-color: #1a232a #1a232a $nav-tabs-link-active-bg
//   #1a232a;

$table-border-color: #ced4da;
$table-accent-bg: #f8f9fa;

$input-placeholder-color: #848484;

$spacer: 1rem !default;
// prettier-ignore
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 5),
    8: ($spacer * 6),
    9: ($spacer * 7),
    10: ($spacer * 8),
);

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/forms";

.navbar-nav > li {
  padding-left: 1rem;
}

.nav-tabs .nav-link,
.nav-tabs .nav-item .nav-link {
  border-top: 4px solid transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  font-weight: 600;
  color: #1a232a;
  border-top: 4px solid #1a232a;
}

.nav-tabs {
  border-bottom: 1px solid #dfdfdf !important;
}

.card.special {
  border-top: 0;
}

.b-top {
  border-top: 8px solid #1a232a;
}

.font-weight-extrabold {
  font-weight: 900;
  letter-spacing: -0.5px;
}

label {
  margin-bottom: 0.2rem;
}

table.dataTable thead .sorting_asc {
  background: none !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}

table.dataTable thead .sorting_desc {
  background: none !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}

table.dataTable thead .sorting {
  background: none !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}

// table.dataTable thead td,
// table.dataTable tbody td,
// table.dataTable tfoot td,
// table.dataTable.no-footer {
// }

table.dataTable.no-footer {
  border-bottom: 1px solid #ccc !important;
}

table.dataTable thead tr th,
table.dataTable tbody th,
table.dataTable tbody td {
  padding: 16px 18px !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.clickable-row {
  cursor: pointer;
}

span.arrow-hack {
  margin-left: 5px;
}
span.asc {
  background: url("../images/up.svg") no-repeat center right !important;
}
span.desc {
  background: url("../images/down.svg") no-repeat center right !important;
}
span.sort {
  background: url("../images/both.svg") no-repeat center right !important;
}
