$theme-colors: (
  "primary": #1a232a,
  "secondary": #686868,
  "success": #309188,
  "danger": #c84343
);

$body-bg: #fff;
$font-family-base: "Source Sans Pro", sans-serif;

$breadcrumb-bg: transparent;
$breadcrumb-padding-x: 0.4rem;
$breadcrumb-divider: "»";

$navbar-padding-x: 0rem;

$nav-tabs-border-color: #ccc;

$table-border-color: #ced4da;
$table-accent-bg: #f8f9fa;

$input-placeholder-color: #848484;
$font-size-base: 0.9rem;

$spacer: 1rem !default;
// prettier-ignore
$spacers: (
    0: 0,
    1: ($spacer * .25),
    2: ($spacer * .5),
    3: $spacer,
    4: ($spacer * 1.5),
    5: ($spacer * 3),
    6: ($spacer * 4),
    7: ($spacer * 5),
    8: ($spacer * 6),
    9: ($spacer * 7),
    10: ($spacer * 8),
);

@import "../../node_modules/bootstrap/scss/functions";
@import "../../node_modules/bootstrap/scss/mixins";
@import "../../node_modules/bootstrap/scss/variables";

@import "../../node_modules/bootstrap/scss/reboot";
@import "../../node_modules/bootstrap/scss/grid";
@import "../../node_modules/bootstrap/scss/breadcrumb";
@import "../../node_modules/bootstrap/scss/tables";
@import "../../node_modules/bootstrap/scss/badge";
@import "../../node_modules/bootstrap/scss/card";
@import "../../node_modules/bootstrap/scss/type";
@import "../../node_modules/bootstrap/scss/navbar";
@import "../../node_modules/bootstrap/scss/nav";
@import "../../node_modules/bootstrap/scss/utilities";
@import "../../node_modules/bootstrap/scss/transitions";
@import "../../node_modules/bootstrap/scss/buttons";
@import "../../node_modules/bootstrap/scss/button-group";
@import "../../node_modules/bootstrap/scss/dropdown";
@import "../../node_modules/bootstrap/scss/modal";
@import "../../node_modules/bootstrap/scss/forms";

.navbar-nav > li {
  padding-left: 1rem;
}

.nav-tabs .nav-link,
.nav-tabs .nav-item .nav-link {
  border-top: 4px solid transparent;
}

.nav-tabs .nav-link:hover,
.nav-tabs .nav-item .nav-link:hover {
  border-bottom: 1px solid transparent;
  border-right: 1px solid transparent;
  border-left: 1px solid transparent;
}

.nav-tabs .nav-link.active:hover,
.nav-tabs .nav-item.show .nav-link:hover {
  border-top: 4px solid #1a232a;
  border-right: 1px solid #dfdfdf;
  border-left: 1px solid #dfdfdf;
}

.nav-tabs > li > a {
  margin-right: 2px;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
  font-weight: 600;
  color: #1a232a;
  border-top: 4px solid #1a232a;
}

.card.special {
  border-top: 0;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.b-top {
  border-top: 4px solid #1a232a;
}

.btn-outline-primary svg {
  fill: #1a232a;
}

.btn-outline-primary:hover svg {
  fill: #fff;
}

.badge {
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 400;
}

.font-weight-extrabold {
  font-weight: 900;
  letter-spacing: -0.5px;
}

label {
  margin-bottom: 0.2rem;
}

table.dataTable thead .sorting_asc {
  background: none !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}

table.dataTable thead .sorting_desc {
  background: none !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}

table.dataTable thead .sorting {
  background: none !important;
  border-bottom: 0 !important;
  border-top: 0 !important;
}

table.dataTable.no-footer,
.dataTables_wrapper.no-footer .dataTables_scrollBody {
  border-bottom: 1px solid #ccc !important;
}

table.dataTable thead tr th,
table.dataTable tbody th,
table.dataTable tbody td {
  padding-left: 18px !important;
  padding-right: 18px !important;
}

.dataTables_paginate .paginate_button {
  padding: 6px 9px !important;
  background: none !important;
  color: #1a232a !important;
  border: 1px solid #1a232a !important;
  border-radius: 4px !important;
  margin: 12px 6px 12px 0px !important;
}

.dataTables_paginate .paginate_button.current {
  background: #1a232a !important;
  color: #fff !important;
}

.col-centered {
  float: none;
  margin: 0 auto;
}

.clickable-row {
  cursor: pointer;
}

span.arrow-hack {
  margin-left: 5px;
}
span.asc {
  background: url("../images/up.svg") no-repeat center right !important;
}
span.desc {
  background: url("../images/down.svg") no-repeat center right !important;
}
span.sort {
  background: url("../images/both.svg") no-repeat center right !important;
}

.tabledisplay,
#search {
  overscroll-behavior: contain;
}

.dataTables_filter {
  float: left !important;
  padding-left: 12px !important;
  padding-top: 6px !important;
  margin-top: 6px;
  display: block;
}

.dataTables_filter input {
  height: 40px;
  width: 240px !important;
  padding-right: 12px;
  text-indent: 12px;
  font-size: 16px;
  font-weight: 400;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
